:root {
    --green:rgb(168, 190, 140);
    --brown:rgb(97, 78, 69);
    --cream:rgb(255, 239, 213);
 }
body{
    background-color:var(--green);
    font-family: "Fredoka", sans-serif;
}
.name, .email, .message {
    background-color:var(--brown);
    margin-bottom: 5px;
    border-radius: 5px;
    color:var(--cream);
    border-style: none;
}
::placeholder {
    color:var(--cream);
}
.name {
    height: 25px;
    width: 350px;
}
.email {
    height: 25px;
    width: 350px;
}
h1 {
    color:var(--cream);
    text-align: center;
}
.message {
    width: 350px;
    height: 250px;
}
button {
    width: 355px;
    height: 40px;
    background-color:var(--brown);
    color: rgb(255, 239, 213);
    border-radius: 5px;
    border-style: none;
    box-shadow: inset 9px 9px 0px #41352f,
                inset -9px -9px 0px #4d3f39;
    
}
button:hover {
    background-color: rgb(87, 43, 23);
    box-shadow: inset 9px 9px 0px #3e1f0b,
                inset -9px -9px 0px #954b2b;
}
.container {
    display: inline-block;
    margin-left: 530px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    background-color: rgb(71, 58, 52);
    box-shadow: 10px 10px 31px #302723,
                -10px -10px 31px #5e4d45;
}
.description {
    width: 200px;
    height: 80px;
    margin-top: 50px;
    margin-left: 650px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--brown);
    color: var(--cream);
    border-radius: 15px;
    box-shadow: 10px 10px 31px #302723,
                -10px -10px 31px #5e4d45;
}
p {
    text-align: center;
    font-size: 17px;
}
/* Mobile Style */
@media only screen and (max-width:576px){
    

    body {
        display: block;
    }
    .name, .email, .message, button {
        width:100%
    }
    .description {
        margin: auto;
        margin-top: 30px;
        height: 70px;
    }
}
/* Tablet Styles */
@media only screen and (min-width:768px) and (max-width:1000px) {
    
    
    body {
        display: block;
    }
    .description {
        height: 80px;
        margin-left: 270px;
    }
    .container {
        display: inline-block;
        margin-left: 150px;
    }
        
}